*{
    margin: 0;
    padding: 0;
    text-align: center;
   
}

h1{
    color:brown;
    background-color: darkgoldenrod;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center  
}

img{
    height:150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    background-color: darkorchid;
    
    cursor:pointer;
}

.score{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 3rem;
    margin-top: 3rem;
}


.messagecontainer{
    margin-top: 5rem;
}

#message{
    background-color: darkgreen;
    color:yellow;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
   
}